body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#grid {
  position: relative;
  width: 100%;
}

.hero {
  position: relative;
  width: 100vw;
  overflow: hidden;
}

.hero-content {
  position: absolute;
  pointer-events: none;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  color: #928b8b;
  text-align: center;
}

h1 {
  font-size: calc(2rem + 1vw); 
}